<center>
  <div class="shorten-URL-Place" style="margin-top:2%">
    <h2> Opp! No such URL ! </h2>
  </div>
</center>

<center>
  <form action="http://localhost:{{port}}">
    <div class="return button">
      <button type="submit" class="text-align:center btn btn-primary btn-lg btn-block col-lg-4"><span
          class="bi bi-arrow-return-left"></span> Return </button>
    </div>
  </form>

</center>