<form class="form" action="/short" method="get">
  <div class="form-row">
    <div class="urlInput-place form-control-lg" style="text-align:center;margin:0.9% 0.5% 0.9% 0.5%">
      <input type="url" class="form-control" name="importURL" id="importURL" aria-describedby="urlInput"
        placeholder="Input URL here..." required>
    </div>
  </div>
  <center>
    <div class="form-row">
      <button type="submit" class="text-align:center btn btn-outline-primary btn-lg btn-block col-lg-4">Shorten</button>
    </div>
  </center>
</form>