<center>
  <div class="shorten-URL-Place" style="margin-top:2%">
    <h2> Success ! Please use this link: </h2>
  </div>
</center>

<center>
  <div class="shorten-URL">
    <a href="{{shortenURL}}" class="link-primary" id="shorten-URL-Text" style="font-size:30px"> {{shortenURL}}</a>
  </div>
  <!-- The button used to copy the text -->
  <button class="btn btn-primary btn-lg Copy-button" style="margin-top:0.8%"> Copy </button>
</center>